body {
  margin: 25px;
  background-image: url('https://i.ibb.co/X3wGrcj/the-hipsters-cafe-delhi-1xw83ebh2t.jpg');
  font-family: times new roman;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  border-style: solid;
  border-width: 5px;
  border-color: whitesmoke;
  border-radius: 10px;
  width: 90%;
}

p {
    font-size: 16px;
    background-color: rgb(240,240,240, .85);
    width: 70%;
    display: block;
}

div {
    font-size: 25px;
    padding: 10px;
    color: whitesmoke;
    background-color: rgb(240,240,240, .15);
    display: inline;
    float: right;
    clear: both;
}

h1 {
  font-family: helvetica;
  font-size: 45px;
  font-weight: bold;
  margin-top: 20px;
  color: darkolivegreen;
  line-height: 70px;
  text-transform: uppercase;
  box-shadow: 3px 3px 5px 6px #ccc;
  background-color: rgb(240,240,240);
  background-image: linear-gradient(whitesmoke,silver);
  display: inline-block;
  visibility: visible;

}

.photo {
    width: 400px;
    height: auto;
    object-fit: cover;
    transform: scaleX(-1);
    padding: 10px;
    filter: brightness(120%);
}

table, th, td {
    border: 1px solid black;
    background-color: rgb(240,240,240, .85);
    visibility: visible;
  }

  ul {
    font-size: 16px;
    background-color: rgb(240,240,240, .85);
    width: 70%;
    list-style-type: circle;
    list-style-position: inside;
  }

  ol {
    list-style-type: circle;
    list-style-position: outside;
  }

  h2 {
      font-size: 30px;
  }

  #nav {
      text-shadow: 1px 0px; 
  }

  * {
      text-align: left;
  }

  a.active {
      color: lavender;
  }

  a::before {
    content: "⊕";
  }

  a:link {
      font-size:20px;
  }
